@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row InfoHead">
    <div class="col-md-9">
        <h2>
            对比结果
        </h2>
    </div>
    @*<div class="col-md-3">
        <ul class="list-unstyled">
            <li>
                Last upload: &nbsp;
                <span id="calTim"></span>
            </li>
        </ul>
    </div>*@
</div>


<div id="gridcontainer">
    <table id="tblResult" class="table table-striped table-bordered table-hover dataTable">
        <thead>
            <tr>
            </tr>
        </thead>
    </table>
</div>


@section Scripts{
<script>
    var oTabLector = null;

    $(function () {
        InitCondTab();
    });

    function InitCondTab() {
        var tabCols = [
                { title: "PONUMBER", data: "PONUMBER" },
                { title: "ITEM", data: "ITEM" },
                { title: "QTY", data: "QTY" },
                { title: "UNIT", data: "UNIT" },
                { title: "Receiver", data: "Receiver" },
                { title: "RECEIVEDATE", data: "RECEIVEDATE" }
        ];
        var colDefs = [];
        var idTabLector = "#tblResult";
        var sDom = 'Bfrtip';
        var $tabLec = $(idTabLector).DataTable({
            destroy: true,
            paging: true,
            processing: true,
            searching: true,
            ordering: false,
            autoWidth: false,
            select: true,
            columns: tabCols,
            columnDefs: colDefs,
            ajax: {
                url: '@Url.Action("GetCompResult")'
                    , type: 'POST'
                    , dataSrc: ""
            },
            dom: sDom,
            buttons: [
                {
                    text: '手动重新获取Baan数据',
                    action: function (e, dt, node, config) {
                        DoReSyncBaan();
                    }
                }
            ]
        });
        oTabLector = new TTabHelper($tabLec);
    }

    function DoReSyncBaan() {
        BootstrapDialog.confirm("手动获取Baan数据比较耗时，确定要这么做吗?", function (result) {
            if (!result) {
                return;
            }
            var url = "@Url.Action("ReSyncBaan")";
            AjaxPost(url, null, true, function (resp) {
                if (resp.bok) {
                    reload();
                } else {
                    BootstrapDialog.alert("手动获取Baan数据失败："+resp.msg);
                }
            },
            undefined,
            function () {
                showBusyLoading(true);
            },
            function () {
                showBusyLoading(false);
            });
        });
    }
</script>
}