@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row InfoHead">
    <div class="col-md-9">
        <h2>
            HC tabula
        </h2>
    </div>
</div>


<div class="wrapper">
    @using (Html.BeginForm("QueryHCData", "Query",
                           FormMethod.Post, new { @id = "frmQueryHCData" }))
    {
        <div class="row">
            <div class="col-md-3">
                <span>WareHouse</span>
                <span>
                    <select id="idSelBu" name="bu" required>
                        <option></option>
                        <option>All</option>
                    </select>
                </span>
            </div>
            <div class="col-md-3">
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                <button class="btn btn-info" type="submit">Query</button>
                <button class="btn btn-info" type="button" id="btnDownload">Download</button>
            </div>
        </div>
    }
</div>


<div class="wrapper">
    <div class="row">
        <div id="idChart" style="height:520px;"></div>
    </div>
</div>


@section Scripts{
    <script>
        var weekChart=null;
        var weekData =null;

        $(function () {
            InitData();
            weekChart = echarts.init(document.getElementById("idChart"));
        });

        function InitData() {
            $("#frmQueryHCData").validate();
            $("#btnDownload").click(function () {
                DownloadData('MonthData', $("#frmQueryHCData"));
            });
            var url = "@Url.Action("GetMonthDataInitInfo", "Query")";
            AjaxPost(url,
                "{}",
                true,
                function (result) {
                    var warehouseList = result.data || [];
                    var weekdateList = result.extra || [];
                    $("#idSelBu").select2({
                        data: warehouseList,
                        placeholder: "choose a warehouse...",
                        width: "120px"
                    });
                    //selectorBu = new TSelect2Helper($("#idSelBu"));

                    $("#idSelStartWeek").select2({
                        data: weekdateList,
                        placeholder: "choose...",
                        width: "120px"
                    });
                    //selectorStartWeek = new TSelect2Helper($("#idSelStartWeek"));

                    $("#idSelEndWeek").select2({
                        data: weekdateList,
                        placeholder: "choose...",
                        width: "120px"
                    });
                    //selectorEndWeek = new TSelect2Helper($("#idSelEndWeek"));

                });

            $('#frmQueryHCData').on('submit', function (e) {
                if (e.isDefaultPrevented()) {
                    //invalid
                    return false;
                } else {
                    var url = $(this).attr("action");
                    AjaxPostForm(url, '#frmQueryHCData', true, function (resp) {
                        if (resp.bok) {
                            weekData = {
                                'columns': resp.data.columns,
                                'kinds': resp.data.kinds,
                                'data': JSON.parse(resp.data.data)
                            };
                            RefreshChart();
                        } else {
                            EmptyTable();
                            BootstrapDialog.alert("查询失败:<br>" + resp.msg);
                        }
                    },
                    undefined,
                    function () {
                        showBusyLoading(true);
                    },
                    function () {
                        showBusyLoading(false);
                    });
                }
                return false;
            });
        }

        function MakexAxis(cols) {
            var xCols = [];
            $.each(cols, function (index, value) {
                var tVal = value.data;
                if (tVal == 'HC_Utilization') {
                    tVal = 'HC_Utilization(%)';
                }
                xCols.push(value.data);
            });
            return xCols.slice(1);
        }
        function MakeChartData() {
            var chartData = [];
            $.each(weekData.data, function (index, value) {
                var vArr = MakeValueArr(value);
                var objChart = {
                    'name': vArr[0],
                    'type': 'bar',
                    'barGap': '0',
                    'data': vArr.slice(1)
                };
                if (objChart.name == 'HC_Utilization') {
                    objChart.name = 'HC_Utilization(%)';
                }
                chartData.push(objChart);
            });
            return chartData;
        }
        function RefreshChart() {
            var chartData = MakeChartData();
            var xCols = MakexAxis(weekData.columns);
            var option = {
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'shadow'
                    }
                },
                color:GetMyChartColors(),
                legend: {
                    data: weekData.kinds,
                    right: '20px',
                    align: 'right',
                    orient: 'vertical',
                    x: 'right', y: 'center',
                    textStyle: {
                        fontWeight: 'bold'
                    },
                },
                grid: {
                    left: '2%',
                    right: '11%',
                    bottom: '2%',
                    containLabel: true
                },
                xAxis: [
                    {
                        type: 'category',
                        data: xCols
                    }
                ],
                yAxis: [
                    {
                        type: 'value'
                    }
                ],
                series: chartData
            };

            weekChart.setOption(option);

        }

    </script>
}



