@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using WarehouseLaborEfficiencyWeb.DAL


@section Styles{
<style>
.myUl {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 11px;
}
.myUl li { 
    padding-left: 16px; 
    line-height: 16px;
}
    .myUl li::before {
        content: "•";
        vertical-align:middle;
        padding-right: 8px;
        color: green;
        font-size: 24px;
        font-weight: 700;
    }
</style>
}
<div class="row InfoHead">
    <div class="col-md-9">
        <h3>
            Headcount Position Distribution Monthly Trend
        </h3>
    </div>
</div>


<div class="wrapper">
    @using (Html.BeginForm("QueryHCData", "Query",
                           FormMethod.Post, new { @id = "frmQueryHCData" }))
    {
        <div class="row">
            <div class="col-md-8">
                <span class="my-bigger">WareHouse</span>
                <span>
                    <select id="idSelBu" required multiple>
                        @*<option></option>*@
                    </select>
                    @Html.Hidden("warehouses")
                </span>
            </div>
            <div class="col-md-4">
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                <button class="btn btn-info btn-sm" type="submit" id="btnQuery">Query</button>
                <button class="btn btn-info btn-sm" type="button" id="btnQueryAll">Query All</button>
                @if (CommonInfo.HasRight(TRightID.DOWNLOAD))
                {
                    <button class="btn btn-info btn-sm" type="button" id="btnDownload">Download</button>
                }
            </div>
        </div>
    }
</div>

<div class="container" id="idChartCont" style="width: 1200px;margin-left: -40px;">
</div>



@section Scripts{
    <script>
        $(function () {
            InitData();
            setTimeout(function () {
                DoQueryAll();
            }, 800);
        });

        function InitData() {
            $("#frmQueryHCData").validate();
            $("#btnDownload").click(function () {
                DownloadData('HCData', $("#frmQueryHCData"));
            });
            $("#btnQueryAll").click(function () {
                DoQueryAll();
            });

            var url = "@Url.Action("GetWarehouseInfo", "Query")";
            AjaxPost(url,
                "{}",
                true,
                function (result) {
                    var warehouseList = result.data || [];
                    $("#idSelBu").select2({
                        data: warehouseList,
                        placeholder: "choose one or more warehouse...",
                        width: "55%"
                    });

                });

            $('#frmQueryHCData').on('submit', function (e) {
                if (e.isDefaultPrevented()) {
                    //invalid
                    return false;
                } else {
                    var url = $(this).attr("action");
                    $('#warehouses').val(GetSelect2SelMulti($('#idSelBu')));
                    AjaxPostForm(url, '#frmQueryHCData', true, function (resp) {
                        if (resp.bok) {
                            ViewCharts(resp.data);
                        } else {
                            BootstrapDialog.alert("查询失败:<br>" + resp.msg);
                        }
                    },
                    undefined,
                    function () {
                        showBusyLoading(true);
                    },
                    function () {
                        showBusyLoading(false);
                    });
                }
                return false;
            });
        }

        function DoQueryAll() {
            var $ctlSelBu = $('#idSelBu');
            $ctlSelBu.find('option').prop('selected', 'selected');
            $ctlSelBu.trigger('change');
            $("#btnQuery").click();
        }
        function CreateAChart(name) {
            var chartHead = '<div class="wrapper" style="margin-top:18px;">';
            var chartBegin = '<div class="row"><div id="idChart_';
            var chartEnd = '" style="height:520px;"></div></div>';
            var chartDesc = '<div class="row">'
                                + '<ul class="myUl">'
                                + '<li>Total = System Clerk+Receiving+Shipping+RTV & Scrap+Inventory Control+Overall.</li>'
                                + '<li>Forklift Driver included in the Receiving and Shipping.</li>'
                                + '</ul>'
                            +'</div>';
            var charTail = '</div>';
            return chartHead + chartBegin + name + chartEnd + chartDesc + charTail;
        }
        function ViewCharts(items) {
            if (!items || 0 == items.Length) {
                return;
            }
            var $cont = $('#idChartCont');
            $cont.empty();
            //chartHead += name;
            $.each(items, function (ind, val) {
                var name = val.name;
                $cont.append(CreateAChart(name));
            });

            $.each(items, function (ind, val) {
                RefreshChart(val.name, val.entry);
            });
        }

        function GetBarColors() {
            return [
                '#5499C7', '#2980B9', '#2471A3',
                '#1F618D', '#1A5276', '#154360'
            ];
            //return [
            //    '#5499C7', '#2980B9', '#2471A3',
            //    '#1F618D', '#1A5276', '#154360',
            //    '#0033FF', '#0033CC', '#003399',
            //    '#003366', '#003333', '#003300'
            //];
            //return ['#5D9EDB', '#F57E2F', '#A5A5A5',
            //        '#FFC60E', '#4373CA', '#6BAD3E',
            //        '#FF00CC', '#DD6633', 'purple',
            //        '#330099', '#FFEE00', '#CCCC66',
            //        '#9999FF'
            //];
        }
        function MakexAxis(cols) {
            var xCols = [];
            $.each(cols, function (index, value) {
                var tVal = value.data;
                xCols.push(value.data);
            });
            return xCols.slice(1);
        }
        function MakeChartData(itemData) {
            var chartData = [];
            var cols = [];
            var details = itemData.data;
            var labelOption = {
                normal: {
                    show: true,
                    position: 'top',
                    distance: 15,
                    verticalAlign: 'middle',
                    rotate: 90,
                    fontSize: 9,
                    formatter: function (ser) {
                        if (!ser.data) {
                            return '';
                        }
                        return ser.data;
                    }
                }
            };

            $.each(details, function (index, value) {
                var vArr = MakeValueArr(value);
                var item = vArr[0];
                cols.push(item)
                var objChart = {
                    'name': item,
                    'type': 'bar',
                    'barGap': '0',
                    'data': vArr.slice(1),
                    'label': labelOption
                };
                chartData.push(objChart);
            });
            return {
                'cols': cols,
                'kinds': itemData.kinds,
                'charData': chartData
            }
        }
        function RefreshChart(name, itemData) {
            var cd = MakeChartData(itemData);
            //var xCols = MakexAxis(cd.cols);
            var option = {
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'shadow'
                    }
                },
                color: GetBarColors(),
                title: {
                    text: name + " (G1-G7)",
                    textStyle:{
                        fontSize:16
                    },
                    left: 'center'
                },
                legend: {
                    data: cd.cols,
                    right: '20px',
                    align: 'right',
                    orient: 'vertical',
                    x: 'right', y: 'center',
                    textStyle: {
                        fontWeight: 'bold'
                    }
                },
                grid: {
                    left: '0%',
                    right: '9.5%',
                    bottom: '2%',
                    containLabel: true
                },
                xAxis: [
                    {
                        type: 'category',
                        data: cd.kinds
                    }
                ],
                yAxis: [
                    {
                        type: 'value'
                    }
                ],
                series: cd.charData
            };

            var weekChart = echarts.init(document.getElementById("idChart_"+name));
            weekChart.setOption(option);

        }

    </script>
}



