@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style type="text/css">
        #tbList {
            border:1px solid #0094ff;
            width:800px;
            margin:10px auto;
            border-collapse:collapse;
        }
        #tbList th, td {
            border:1px solid #0094ff;
            padding:10px;
        }
    </style>
    <script type="text/javascript">

    </script>
</head>
<body>
    
</body>
</html>
