@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row InfoHead">
    <div class="col-md-9">
        <h2>
            Monthly Trend
        </h2>
    </div>
</div>

<div class="wrapper" style="width: 1200px;margin-left: -40px;">
    <div class="col-md-10">
            <div class="wrapper">
                <div class="row">
                    <div id="idChart" style="height:520px;"></div>
                </div>
            </div>
        </div>
    <div class="col-md-2">
        <ul class="list-unstyled">
            <li>
                <label>
                    <input type="radio" class="myRadio" name="selKind" value="HC_FCST">
                    <span class="label-radio">HC_FCST</span>
                </label>
            </li>
            <li>
                <label>
                    <input type="radio" class="myRadio" name="selKind" value="HC_Actual">
                    <span class="label-radio">HC_Actual</span>
                </label>
            </li>
            <li>
                <label>
                    <input type="radio" class="myRadio" name="selKind" value="HC_Support">
                    <span class="label-radio">HC_Support</span>
                </label>
            </li>
            <li>
                <label>
                    <input type="radio" class="myRadio" name="selKind" value="HC_Utilization">
                    <span class="label-radio">HC_Utilization(%)</span>
                </label>
            </li>
            <li>
                <label>
                    <input type="radio" class="myRadio" name="selKind" value="Case_ID_in">
                    <span class="label-radio">Case_ID_in</span>
                </label>
            </li>
            <li>
                <label>
                    <input type="radio" class="myRadio" name="selKind" value="Case_ID_out">
                    <span class="label-radio">Case_ID_out</span>
                </label>
            </li>
            <li>
                <label>
                    <input type="radio" class="myRadio" name="selKind" value="Pallet_In">
                    <span class="label-radio">Pallet_In</span>
                </label>
            </li>
            <li>
                <label>
                    <input type="radio" class="myRadio" name="selKind" value="Pallet_Out">
                    <span class="label-radio">Pallet_Out</span>
                </label>
            </li>
            <li>
                <label>
                    <input type="radio" class="myRadio" name="selKind" value="Jobs_Rec">
                    <span class="label-radio">Jobs_Rec</span>
                </label>
            </li>
            <li>
                <label>
                    <input type="radio" class="myRadio" name="selKind" value="Jobs_Issue">
                    <span class="label-radio">Jobs_Issue</span>
                </label>
            </li>
            <li>
                <label>
                    <input type="radio" class="myRadio" name="selKind" value="Reel_ID_Rec">
                    <span class="label-radio">Reel_ID_Rec</span>
                </label>
            </li>
            <li>
                <button id="btnDownload" class="btn btn-info btn-sm">Download</button>
            </li>
        </ul>
    </div>
</div>

@section Scripts{
    <script>
        var weekChart = null;
        var weekData = null;

        $(function () {
            InitData();
            weekChart = echarts.init(document.getElementById("idChart"));
            $('input:radio[name="selKind"][value="HC_FCST"]').click();
        });

        function InitData() {
            //$("#frmQueryMonthData").validate();
            $("#btnDownload").click(function () {
                var selKind = $('input[name="selKind"]:checked').val();
                DownloadMonthData(selKind);
            });

            $('input[name="selKind"]').on('change', function () {
                var $sel = $(this);
                if ($sel.is(":checked")) {
                    var url = "@Url.Action("QueryMonthData", "Query")";
                    var para = {
                        'selKind': $sel.val()
                    };

                    AjaxPost(url,
                        JSON.stringify(para),
                        true,
                        function (resp) {
                            if (resp.bok) {
                                var dt = resp.data;
                                weekData = {
                                    'columns': dt.columns,
                                    'kinds': dt.kinds,
                                    'data': dt.data
                                };
                                RefreshChart();
                            } else {
                                EmptyChart(weekChart);
                                BootstrapDialog.alert("查询失败:<br>" + resp.msg);
                            }
                        },
                        undefined,
                        function () {
                            showBusyLoading(true);
                        },
                        function () {
                            showBusyLoading(false);
                        });
                }
            });
        }

        /////////////////////////////////////////////////////
        function GetBarColors() {
            return ['#5197D7', '#ACACAC', '#2D60AC',
                    '#134975', '#33CCFF', '#007777',
            ];
        }
        function MakexAxis(cols) {
            var xCols = [];
            $.each(cols, function (index, value) {
                var tVal = value.data;
                xCols.push(value.data);
            });
            return xCols;
        }
        function MakeChartData(markline) {
            var chartData = [];
            var labelOption = {
                normal: {
                    show: true,
                    position: 'top',
                    distance: 20,
                    verticalAlign: 'middle',
                    rotate: 90,
                    fontSize: 11,
                    formatter: function (ser) {
                        if (!ser.data || 0==ser.data) {
                            return '';
                        }
                        return ser.data;
                    }
                }
            };
            $.each(weekData.data, function (index, value) {                
                var objChart = {
                    'name': value.name,
                    'type': 'bar',
                    'barGap': '0',
                    'data': value.items,
                    'label': labelOption,
                    'markLine': markline
                };
                chartData.push(objChart);
            });
            return chartData;
        }
        function RefreshChart() {            
            var xCols = MakexAxis(weekData.columns);
            var selKind = $('input[name="selKind"]:checked').val();
            var markline = null;
            if ('HC_Utilization' == selKind) {
                markline = {
                    label: {
                        show: true,
                        //position: 'left'
                        formatter: '{c}%',
                        position: 'middle'
                    },
                    data: [
                    {
                        yAxis: 100
                    }],
                    lineStyle: {
                        color: '#FFC613',
                        width: 2
                    }
                };
            }
            var chartData = MakeChartData(markline);

            var option = {
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'shadow'
                    }
                },
                color: GetBarColors(),
                legend: {
                    data: weekData.kinds,
                    textStyle: {
                        fontWeight: 'bold'
                    },
                },
                grid: {
                    left: '1%',
                    right: '1%',
                    bottom: '2%',
                    containLabel: true
                },
                xAxis: [
                    {
                        type: 'category',
                        data: xCols,
                        axisLabel: {
                            position: 'insideBottomLeft',
                            distance: 3,
                            align: 'right',
                            verticalAlign: 'top',
                            rotate: 40,
                        }
                    }
                ],
                yAxis: [
                    {
                        type: 'value'
                    }
                ],
                series: chartData
            };

            weekChart.setOption(option);

        }

    </script>
}

