/*body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}*/

.headTitle{
    color: #2aabd2 !important;
    font-size: 22px;
    font-family: 'Microsoft YaHei','Segoe UI', Tahoma, sans-serif;
    font-weight: 800;
}

header, footer, nav, section {
    display: block;
}

footer.sticky-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 99;
    color:#fff;
    background-color:#424f63;
}

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

/*=================================================================*/

 /*body {
            font-family: Arial,sans-serif;
            font-size: 16px;
        }*/
.myTab {
    border-spacing: 1px;
    border-color: grey;
    width: 98%;
}

.myTab thead th,
.myTab tr th {
    background: rgb(0,170,255);
    color: black;
    text-align: center;
    border: 2px solid white;
    padding-top: 2px;
}

.myTab tr td {
    text-align: center;
    border: 8px;
    padding-top: 2px;
    border: 3px solid white;
}

.cellLeft {
    text-align: left;
}

.vertScroll {
    overflow-y: auto;
    max-height: 550px;
}

/*a:link {
    color: #222;
    text-decoration: none;
}

a:visited {
    color: #222;
    text-decoration: none;
}

a:hover {
    color: #222;
    text-decoration: none;
}

a:active {
    color: #222;
    text-decoration: none;
}*/


.body-content {
    padding-top: 50px;
    padding-bottom: 20px;
}


.busyLoading {
    position: fixed;
    z-index: 999;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: Black;
    filter: alpha(opacity=60);
    opacity: 0.6;
    -moz-opacity: 0.8;
}

    .busyLoading .center {
        z-index: 1000;
        margin: 300px auto;
        padding: 10px;
        width: 150px;
        background-color: White;
        border-radius: 20px;
        filter: alpha(opacity=100);
        opacity: 1;
        -moz-opacity: 1;
    }

        .busyLoading .center img {
            height: 128px;
            width: 128px;
        }

.dt-buttons .btn{
    margin-left: 0.4em;
    margin-right: 0.4em;
}

.error{
    color:crimson;
}

/*for round toggle button*/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

input[type="radio"].myRadio,
input[type="checkbox"].myCheck {
    position: absolute;
    right: 9000px;
}

input[type="radio"].myRadio + .label-radio:before,
input[type="checkbox"].myCheck + .label-check:before{
	content: "\e157";
	font-family: "Glyphicons Halflings";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing:antialiased;
	width: 1em;
	display: inline-block;
	margin-right: 5px;
}
input[type="radio"].myRadio:checked + .label-radio:before,
input[type="checkbox"].myCheck:checked + .label-check:before{
	content: "\e067";
	color: red;
	animation: effect 250ms ease-in;
}
input[type="radio"].myRadio:disabled + .label-radio,
input[type="checkbox"].myCheck:disabled + .label-check{
	color: #aaa;
}
input[type="radio"].myRadio:disabled + .label-radio:before,
input[type="checkbox"].myCheck:disabled + .label-check{
	content: "\e074";
	color: #ccc;
}

/*my background*/
@media (min-width: 768px) {
    .navbar-my>.container .navbar-brand {
        margin-left: -60px;
    }
}
.navbar-my .navbar-nav>li>a:focus, 
.navbar-my .navbar-nav>li>a:hover {
    color: #ffffff;
    background-color: #5197D7;
}


